<div class='container body-partial'>
    <%= render partial: 'users/pillbox_cells' %>
    <%# if @user.prescriptions.ending_within_week.count > 0 %>
      <%= render partial: 'users/expiring_soon' %>
    <%# end %>
</div>