/** {
  border: dashed gray 1px;
}*/

@font-face {
  font-family: "Farray";
  src: url("Aileron-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Farray-Light";
  src: url("Aileron-Light.otf") format("opentype");
}

@font-face {
  font-family: "Farray-Regular";
  src: url("Aileron-Regular.otf") format("opentype");
}

body {
  /*font-family: "Farray-Regular";*/
  font-size: 14px;
}

h2 {
  font-size: 2em;
}

.table-head {
  padding-left: 40px;
  background-color: #546E7A;
  padding-top: 2px;
  padding-bottom: 9px;
}

#regimen-table .table-head {
  margin-right: -20px;
  margin-left: -20px;
}

#expiring-soon-table .table-head {
  margin-right: -40px;
  margin-left: -40px;
}

#expiring-soon-table {
  margin-top: 50px;
  margin-right: -16px;
  margin-left: -16px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #FFFFFF;
  background-color: #66BB6A;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
}

#regimen-table {
  margin-top: 120px;
  margin-right: -16px;
  margin-left: -16px;
  /*padding-top: 25px;*/
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
}

.table-row {
  font-size: 1.4em;
}

.table-column-heads {
  color: #455A64;
}

.table-cell {
  margin-right: -7px;
  margin-left: -7px;
  height: 52px;
  padding-left: 20px;
  background-color: #81C784;
}

.table-cell-container {
  height: 68px;
}

.vertically-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.refill-button {
  height: 48px;
  width: 80%;
  line-height: 2.4em;
  margin: auto;
  text-align: center;
  color: #546E7A;
  background-color: #FFFFFF;
  overflow: hidden;
  /*border-radius: 0px;*/
  box-shadow: 0 5px 0 #78909C;
  transition: all .1s linear;
  font-weight: 500;
  top: 47%;
}

.refill-button:active {
  box-shadow: 0 2px 0 #78909C;
  transform: translateY(-21px);
}

.refill-button span {
  display: block;
}

.refill-button, .refill-button-text {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.refill-button:hover .refill-button-text {
  margin-top: -2.5em;
}

.pills {
  zoom: 60%;
}

.refill-button-group {
  cursor: pointer;
}

#harmony-logo {
  padding-top: 22px;
  padding-right: 30px;
}

body {
  background-color: #43A047 !important;
}

h1 {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#welcome-screen h3 {
  color: #D6D6D6;
  font-family: "Farray-Regular";
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#new-doctor-fields {
  display: none;
}

#new-pharmacy-fields {
  display: none;
}

#welcome-screen {
  font-family: "Farray-Light";
  padding-top: 11%;
  color: #4B4B4B;
  font-size: 70px;
}

.warning-headline {
  color: #616161;
}

.warning-icon-container {
  display: inline;
}

.warning-icon {
  padding-left: 3%;
  zoom: 4%;
}

.morning-icon {
  zoom: 10%;
}

.afternoon-icon {
  zoom: 10%;
}

.evening-icon {
  zoom: 11.5%;
}

.bedtime-icon {
  zoom: 9%;
}

.icon-container {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0px;
}

.pillbox-cell-icon-container {
  height: 20px;
}

#background {
  background: url(image-path('background.jpg'));
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-attachment: fixed;
  background-position: center center;
}

#form-container {
  display: inline-block;
  text-align: left;
  padding-top: 150px;
}

#centered-form-container {
  margin: 0px auto;
  text-align: center;
}

.form-validity-message {
  padding-left: 20px;
  color: gray;
  display: none;
}

form {
  padding-left: 20px;
}

.table-data {
  color: #FFFFFF;
}

input.btn.btn-primary-outline {
  background-color: #406f97;
  font-size: 1em;
  width: 120px;
}

a {
  font-size: 1.4em;
}

.pillbox-cell {
  height: 320px;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 20px;
  margin-top: 6px;
  font-size: 1.4em;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.pillbox-cell-head {
  color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 30px;
  background-color: #4CAF50;
}

.pillbox-cell-morning {
  background-color: #F06292;
  position: relative;
}

.pillbox-cell-afternoon {
  background-color: #E57373;
  /*background-color: #F67280;*/
}

.pillbox-cell-evening {
  background-color: #7986CB;
  /*background-color: #C06C84;*/
}

.pillbox-cell-bedtime {
  background-color: #9575CD;
  /*background-color: #6C5B7B;*/
}

.prescription {
  padding-bottom: 3px;
}

.ul-header {
  margin-left: -17px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

#home-jumbotron {
  background-color: transparent;
  margin-top: 140px;
  color: #e7e7e7
}

.drugs-link {
  text-decoration: none;
}

.drugs-link:hover {
  text-decoration: none;
}

/***************************/
/*    prescription index   */
/***************************/

.parent-prescription {
  margin: 30px;
}
.warning-message {
  position: absolute;
  background: rgba(255, 255, 255, .98);
  color: #9E9E9E;
  margin-top: -150px;
  padding: 20px;
  opacity: 50%;
  width: 300px;
  display: none;
  z-index: 100;
}

#new-prescription-btn {
  margin-top: 100px;
}

.prescription {
  background-color: white;
}

.my-rx-header {
  color: #fff;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 20px;
}

#active-prescriptions {
  padding-top: 50px;
}

.prescriptions-div {
  margin-top: 20px;
}

.drug-row {
  margin-bottom: 10px;
}

.active-p a {
  text-decoration: none !important;
}