<div class="modal fade" id="sign-up-modal" tabindex="-5" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document" >
   <div class="modal-content">
     <div class="modal-header" >
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel" ><div >Sign Up</div></h4>
     </div>
     <div id='user-form' class="modal-body" class="text-center">
       <%= render "users/user_form" %>
     </div>
   </div>
 </div>
</div>